@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.date-picker {
  --primary-color: #3498db;

  font-family: 'Roboto', sans-serif;
  position: relative;
  box-sizing: border-box;

  & .input-picker {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid grey;
    outline: none;
    
    &.active {
      border: 2px solid var(--primary-color);
    }
  }

  & .picker {
    position: absolute;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &--head {
      display: flex;
      justify-content: space-between;
      margin-left: 16px;
      height: 44px;

      & div {
        display: flex;
        align-items: center;

        & .picker--dropdown {
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin-left: 4px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          border-radius: 50%;
          transition: background 150ms;
          color: #95a5a6;

          &:hover {
            background-color: #ecf0f1;
          }
        }

        &.picker--month {

          & button {
            padding: 0;
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
              background-color: lightgray;
            }

            &:last-child {
              margin-left: 24px;
            }
          }
        }
      }
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(7, 32px);
      grid-template-rows: repeat(7, 32px);
      padding: 0 8px;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;

        &.table-head {
          color: grey;
        }

        & button {
          height: 27px;
          width: 27px;
          border-radius: 50%;
          border:  1px solid transparent;
          background-color: transparent;
          cursor: pointer;
          transition: background 150ms;
          
          &:hover {
            border: 1px solid var(--primary-color);
          }

          &.active {
            background-color: var(--primary-color);
            color: white;
          }
        }
      }
    }
  }
}